{% load i18n %}

<div class="row">
    <div class="span8">

        {{ form.errors }}

        <form enctype="multipart/form-data" class="form-horizontal" method="post">

            <fieldset>
                <legend>{{ title }}</legend>

                {% for field in form %}

                    <div class="control-group">
                        <label class="control-label" for="input01">{{ field.label }}</label>

                        <div class="controls">
                            {{ field }}

                            <p class="help-block">In addition to freeform text, any HTML5 text-based input appears like
                                so.</p>
                        </div>
                    </div>

                {% endfor %}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </div>

            </fieldset>

        </form>
    </div>




</div><!-- /row -->