{% extends "base.html" %}

{% block content %}

    <script>


        $(function() {

            function createTable(value) {
                return "<table class='data'>" + value + "</table>"
            }

            function createThead(value) {
                return "<thead>" + value + "</thead>"
            }

            function createTbody(value) {
                return "<tbody>" + value + "</tbody>"
            }

            function createTr(value) {
                return "<tr>" + value + "</tr>"
            }

            function createLine(value, line) {
                return "<" + line + " style='width:110px;'>" + value + "</" + line + ">"
            }

            function createLines(values, line) {
                var string = "";

                for (index in values) {
                    string += createLine(values[index], line)
                }
                return string
            }

            function build_backup_table(data) {
                var thead = createThead(createTr(createLines(["Dato","#"], "th")));
                var tbody_content = ""

                $.each(data, function(key, backup) {
                    tbody_content += createTr(createLines([backup['time_started'],'restore this backup'], "td"))
                });

                var tbody = createTbody(tbody_content)

                return createTable(thead + tbody)

            }

            $.getJSON('/api/machines/{{ machine_id }}', function(data) {
                var items = [];

                if(data['running_backup']) {
                    $("#status_div").append("<img src='/static/images/spinner.gif'> perforimg backup<br><br>");
                }

                else if(data['running_backup']) {
                    $("#status_div").append("<img src='/static/images/spinner.gif'> perforimg restore<br><br>");
                }

                else {
                    $("#status_div").append("<img src='/static/images/ok.gif'> alt ok<br><br>");
                }

                $("#tables_overview").append("<h2>Detaljer</h2>");
                var thead = createThead(createTr(createLines(["Machine ID","Name","IP"], "th")));
                var tbody = createTbody(createTr(createLines([data['machine_id'],data['name'], data['ip']], "td")))

                $("#tables_overview").append(createTable(thead + tbody));

                var thead = createThead(createTr(createLines(["Tidspunkt neste backup","Tidspunkt sist backup", "Tidspunkt sist kontakt med klient"], "th")));
                var tbody = createTbody(createTr(createLines([data['get_next_backup_time'],data['get_last_backup_time'], data['last_connection_to_client']], "td")))

                $("#tables_overview").append(createTable(thead + tbody));


                $("#tables_overview").append("<h2>Backups</h2>");
                $("#tables_overview").append(build_backup_table(data['backups']));
            });
        })

    </script>

    <style>
        #status_div {
            float:right;
            height: 50px;
            margin-right:50px;
        }
        #status_div img {
            vertical-align: middle;
        }

    </style>

    <div id="status_div"></div>

    <div class="x12">
        <div id="tables_overview">
        </div>
    </div>

{% endblock %}