*.pyc
*.pyo
*.orig
*~
*.json
local.py
.swp
*.egg-info
project.db
pickle*.txt
#generated buildout stuff
.DS_Store
bin
dumpdata.json
focusbackup.db
develop-eggs
downloads
eggs
omelette
parts
.installed.cfg
.settings
.pydevproject
media/uploads
static_media
venv
.idea
development.py
project/media/versions/
