{% extends "base.html" %}
{% load i18n %}
{% load menu_tags %}

{% block content %}

    <header class="jumbotron subhead" id="overview">

        <h1>{% trans "Storages" %}</h1>

        <div class="subnav">
            <ul class="nav nav-pills">
                <li class="{% active request "^/storages/$" %}"><a href="{% url app.storage.views.overview %}">List all
                    storages</a></li>
                <li class="{% active request "^/storages/new/$" %}"><a href="{% url app.storage.views.new %}">New
                    storage</a></li>
            </ul>
        </div>

    </header>

    {% block main %}

        <section id="machines">
            <table class="table-bordered table table-striped table-condensed">

                <thead>

                <th>Host</th>
                <th>Type</th>
                <th>Username</th>

                </thead>
                <tbody>
                {% for storage in storages.all %}
                    <tr>
                        <td><a href="/storages/{{ storage.id }}/view/">{{ storage.host }}</a></td>
                        <td><a href="/storages/{{ storage.id }}/view/">{{ storage.type }}</a></td>
                        <td><a href="/storages/{{ storage.id }}/view/">{{ storage.username }}</a></td>
                    </tr>
                {% endfor %}

                </tbody>

            </table>
        </section>
    {% endblock %}

    <footer></footer>

{% endblock %}