{% extends "storages/base.html" %}
{% load i18n %}

{% block main %}

    <section id="responsive">
        <div class="page-header">
            <h3>{{ customer.name }}</h3>
        </div>
        <!-- Supported devices -->
        <div class="row">
            <div class="span4">

                g

            </div>
            <!-- /.span -->
            <div class="span8">
                <h2>{% trans "Machines" %}</h2>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <td>Name</td>
                        <th>Last connection to client</th>
                        <th>Last backup time</th>
                        <th>Updater version</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for machine in customer.machines.all %}

                        <tr>
                            <td>{{ machine.machine_id }}</td>
                            <td>{{ machine.name }}</td>
                            <td>{{ machine.last_connection_to_client }}</td>
                            <td>{{ machine.get_last_backup_time }}</td>
                            <td>{{ machine.current_updater_version }}</td>
                            <td>

                                {% if machine.running_backup %}

                                    <span class="label label-info">{% trans "running backup" %}</span>

                                {% else %} {% if machine.running_restore %}
                                    <span class="label label-info">{% trans "running restore" %}</span>


                                {% else %}

                                    <span class="label label-success">{% trans "OK" %}</span>

                                {% endif %}
                                {% endif %}

                            </td>
                        </tr>

                    {% endfor %}


                    </tbody>
                </table>


            </div>
        </div>


    </section>

{% endblock %}