{% extends "base.html" %}
{% load i18n %}
{% load menu_tags %}

{% block content %}


    <div class="header">
        <div class="col-md-12">
            <h3 class="header-title">Storages</h3>
        </div>

        {% if not storage %}

            <ul class="nav nav-tabs">
                <li><a href="{% url "storages.new" %}">New storage</a></li>
            </ul>

        {% endif %}

    </div>

    <div class="main-content">
        {% block main %}{% endblock %}
    </div>


{% endblock %}