{% extends "base.html" %}
{% load i18n %}
{% load menu_tags %}

{% block content %}
    <header class="jumbotron subhead" id="overview">

        <div class="page-header">
            <h2>Storages</h2>
        </div>

        <div class="subnav">
            <ul class="nav nav-pills">
                <li class="{% active request "^/storages/$" %}"><a href="{% url 'app.storage.views.overview' %}">List
                    all
                    storages</a></li>
                <li class="{% active request "^/storages/new/$" %}"><a href="{% url 'app.storage.views.new' %}">New
                    storage</a></li>
            </ul>
        </div>

    </header>

    {% block main %}

        <section id="machines">
            <table class="table-bordered table table-striped table-condensed">

                <thead>

                <th>Name</th>
                <th>Type</th>
                <th>Host</th>
                <th>Username</th>
                <th>Folder</th>
                <th>Notes</th>
                <th></th>

                </thead>
                <tbody>

                {% for storage in storages.all %}
                    <tr>
                        <td><i class="icon-hdd"></i> <a href="/storages/{{ storage.id }}/view/">{{ storage.name }}</a></td>
                        <td>{{ storage.type }}</td>
                        <td>{{ storage.host }}</td>
                        <td>{{ storage.username }}</td>
                        <td>{{ storage.folder }}</td>
                        <td>{{ storage.notes }}</td>
                        <td><a href="/storages/{{ storage.id }}/edit/"><i class="icon-pencil"></i></a></td>
                    </tr>
                {% endfor %}

                </tbody>

            </table>
        </section>
    {% endblock %}

    <footer></footer>

{% endblock %}