{% load i18n %}
{% load menu_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="description of your site">
    <meta name="author" content="author of the site">
    <title>Focus24</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/fonts.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/toastr.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/fullcalendar.css">
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.knob.js"></script>
    <script src="{{ STATIC_URL }}js/d3.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.sparkline.min.js"></script>
    <script src="{{ STATIC_URL }}js/toastr.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.peity.min.js"></script>
    <script src="{{ STATIC_URL }}js/fullcalendar.min.js"></script>
    <script src="{{ STATIC_URL }}js/gcal.js"></script>
    <script src="{{ STATIC_URL }}js/setup.js"></script>
</head>
<body>
<div id="in-nav">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="pull-right">
                    <li><a href="login.html">Logout</a></li>
                </ul>
                <a id="logo" href="/">
                    <h4>Focus<strong>24</strong></h4></a>
            </div>
        </div>
    </div>
</div>
<div id="in-sub-nav">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul>
                    <li><a href="/" class="active"><i class="batch home"></i><br>Dashboard</a></li>
                    <li><a href="/machines/"><i class="batch users"></i><br>Servers</a></li>
                    <li><a href="/customers/"><i class="batch settings"></i><br>Customers</a></li>
                    <li><a href="/storages/"><i class="batch settings"></i><br>Storages</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page">
    <div class="page-container">
        <div class="container">

            <div class="row">

                <div class="span3">
                    {% block sidebar %}{% endblock %}
                </div>

                <div class="span9">
                    <h4>{{ title }}</h4>

                    {% block content %}


                        <div class="row">
                            <div class="span3">
                                <h4>Dashboard</h4>

                            </div>
                            <div class="span9">
                                <h4 class="header">Stats</h4>

                                <div class="stats">
                                    <div class="row-fluid">
                                        <div class="span3">
                                            <div class="stat info">
                                                <h2>21</h2>
                                                <h6>Tweets</h6>
                                            </div>
                                        </div>
                                        <div class="span3">
                                            <div class="stat danger">
                                                <h2>04</h2>
                                                <h6>Comments</h6>
                                            </div>
                                        </div>
                                        <div class="span3">
                                            <div class="stat warning">
                                                <h2>17</h2>
                                                <h6>Photos</h6>
                                            </div>
                                        </div>
                                        <div class="span3">
                                            <div class="stat inverse">
                                                <h2>12</h2>
                                                <h6>Followers</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    {% endblock %}

                </div>
            </div>

        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="span12">
                    <p class="pull-right">Focus Security AS</p>
                </div>
            </div>
        </div>
    </footer>
</body>

<script src="{{ STATIC_URL }}js/d3-setup.js"></script>
<script src="{{ STATIC_URL }}js/highcharts.js"></script>

</html>