{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}

        <div class="form-group">
            <label class="col-lg-2 control-label">{{ field.label }}</label>

            <div class="col-lg-10">
                {{ field }}

                {% for error in field.errors %}
                    <span class="help-inline" style="color:red;">{{ error }}</span>
                {% endfor %}

                {% if field.help_text %}
                    <p class="help-block">
                        {{ field.help_text }}
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}