{% extends "base.html" %}

{% block content %}

    <div class="header">
        <div class="col-md-12">
            <h3 class="header-title">{{ title }}</h3>
        </div>
    </div>


    <form class="form {% if form_class %}{{ form_class }}{% else %}form-horizontal{% endif %}" {% if display_none %}
          style="display: none;" {% endif %} method="post"{% if ajax_dest %} data-ajax="{{ ajax_dest }}" {% endif %}
    {% if form_action %} action="{{ form_action }}" {% endif %}{% if form_id %}id="{{ form_id }}"{% endif %}
          {% if enctype != False %}enctype="multipart/form-data"{% endif %}>
        {% if csrf != False %}<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">{% endif %}
        {% include "form_fields.html" %}
        {% if not no_submit_btn %}
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Lagre</button>
                </div>
            </div>
        {% endif %}
    </form>

{% endblock %}