<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{ BRAND }}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/ico/favicon.png"/>

    <!-- CSS -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/ark.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</head>

<body class="cover">
<div class="login-wrap">
    <span class="brand">{{ BRAND }}</span>

    <div class="panel">

        {% if form.errors %}

            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="fa fa-exclamation-triangle"></i>
                <strong>Access denied!</strong>
            </div>

        {% endif %}

        <div class="panel-body">
            <form action="" method="POST">

                {% csrf_token %}

                <div class="form-group {% if form.errors.username %} has-error {% endif %}">
                    <input type="username" name="username" class="form-control" id="exampleInputEmail1"
                           placeholder="Username"
                           value="{% if form.username.value %}{{ form.username.value }}{% endif %}">

                    {% if form.errors.username %}
                        <span class="help-block">{{ form.errors.username }}</span>
                    {% endif %}

                </div>

                <div class="form-group {% if form.errors.password %} has-error {% endif %}">

                    <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                           placeholder="Password">

                    {% if form.errors.password %}
                        <span class="help-block">{{ form.errors.password }}</span>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
                <br/>
                <br/>

            </form>
        </div>
    </div>
</div>
</body>
</html>