{% extends "base.html" %}
{% load i18n %}
{% load menu_tags %}

{% block content %}

    <div class="header">
        <div class="col-md-12">
            <h3 class="header-title">{% block title %}Dashboard{% endblock %} {% if machine %} - {{ machine.name }}{% endif %}</h3>
        </div>

        {% if machine %}
            <ul class="nav nav-tabs">
                <li><a href="{% url "machines.view" machine.id %}">Info</a></li>
                <li><a href="{% url "machines.view_schedules" machine.id %}">Schedules</a></li>
                {% if not machine.template %}
                    <li><a href="{% url "machines.view_backups" machine.id %}">Backups</a></li>
                    <li><a href="{% url "machines.view_log" machine.id %}">Log</a></li>
                {% endif %}
            </ul>

        {% else %}

            <ul class="nav nav-tabs">
                <li><a href="{% url "machines.new" %}">New</a></li>
            </ul>

        {% endif %}

    </div>

    <div class="main-content">
        {% block main %}{% endblock %}
    </div>

{% endblock %}