{% extends "machine/base.html" %}
{% load i18n %}

{% block main %}

    <style>

        .machine-round {
            border: 1px solid #eee;
            display: inline-block;
            margin: 10px;
            padding: 10px;
            font-size: 15px;
        }

        .machine-round .error {
            color: red;
        }

    </style>

    {% for customer in customers %}
        {% if customer.machines.all %}

            <div class="row">
                <div class="col-md-3">
                    <h3>{{ customer.name }}</h3>
                </div>

                <div class="col-md-9">


                    {% for machine in customer.machines.all %}
                        <a href='{% url 'machines.view' machine.id %}'>
                            {% if not machine.is_up_to_date %}
                                <div class="machine-round">
                                    <div class="title error"><i class="fa fa-warning"></i> {{ machine.name }}</div>
                                </div>
                            {% else %}
                                <div class="machine-round">
                                    <div class="title"><i class="fa fa-check"></i> {{ machine.name }}</div>
                                </div>
                            {% endif %}
                        </a>


                    {% endfor %}

                </div>

            </div>

            <hr>

        {% endif %}
    {% endfor %}
{% endblock %}
