{% extends "machine/base.html" %}
{% load i18n %}

{% block main %}


    <h1>Log</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Text</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td class="center">{{ log.datetime|date:"d.m.Y H:i" }}</td>
                <td class="center">{{ log.text }}</td>
                <td class="center">
                    <span class="label label-success">{{ log.type }}</span>
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}