{% extends "machine/base.html" %}
{% load i18n %}

{% block main %}

    <h1>Backups</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Time used to backup</th>
            <th>Schedule</th>
        </tr>
        </thead>
        <tbody>

        {% for backup in machine.get_latest_backups %}
            <tr>
                <td>{{ backup.time_started|date:"d.m.Y H:i" }}</td>
                <td>{{ backup.time_started|timesince:backup.time_ended }}
                    - {{ backup.time_ended|date:"d.m.Y H:i" }}</td>
                <td>{{ backup.schedule.name }}</td>
                <td>
                    {% if backup.recover_link %}
                        <a href="{{ backup.recover_link }}" target="_blank">Recover</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}