{% extends "machine/base.html" %}
{% load i18n %}

{% block title %}
{{ machine.name }}

{% endblock title %}

{% block js %}
    {{ block.super }}

    <script src="{{ STATIC_URL }}js/highcharts.js"></script>

    <script type="text/javascript">

        var chart;
        $(document).ready(function () {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container_load',
                    defaultSeriesType: 'area'
                },
                title: {
                    text: 'Load'
                },
                xAxis: {
                    categories: [{% for stat in machine.get_latest_stats %}
                        '{{ stat.datetime|date:"H:i" }}',
                    {% endfor %}],
                    tickmarkPlacement: 'on',
                    title: {
                        enabled: false
                    }
                },
                tooltip: {
                    formatter: function () {
                        return '' +
                                this.x + ': ' + Highcharts.numberFormat(this.y, 0, ',') + ' millions';
                    }
                },

                plotOptions: {
                    area: {
                        stacking: 'normal',

                        lineColor: '#666666',
                        lineWidth: 1,
                        marker: {
                            lineWidth: 1,
                            lineColor: '#666666'
                        }
                    }
                },
                series: [
                    {
                        name: 'User',
                        data: [{% for stat in machine.get_latest_stats %}
                            {{ stat.load_average }},
                        {% endfor %}
                        ]
                    }
                ]
            });
        });

    </script>

    <script type="text/javascript">

        var chart;
        $(document).ready(function () {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container_cpu',
                    defaultSeriesType: 'area'
                },
                title: {
                    text: 'Prosessor'
                },
                xAxis: {
                    categories: [{% for stat in machine.get_latest_stats %}
                        '{{ stat.datetime|date:"H:i" }}',
                    {% endfor %}],
                    tickmarkPlacement: 'on',
                    title: {
                        enabled: false
                    }
                },
                tooltip: {
                    formatter: function () {
                        return '' +
                                this.x + ': ' + Highcharts.numberFormat(this.y, 0, ',') + ' millions';
                    }
                },
                yAxis: {
                    max: '100'
                },

                plotOptions: {
                    area: {
                        stacking: 'normal',

                        lineColor: '#666666',
                        lineWidth: 1,
                        marker: {
                            lineWidth: 1,
                            lineColor: '#666666'
                        }
                    }
                },
                series: [
                    {
                        name: 'User',
                        data: [{% for stat in machine.get_latest_stats %}
                            {{ stat.cpu_user }},
                        {% endfor %}
                        ]
                    },
                    {
                        name: 'System',
                        data: [{% for stat in machine.get_latest_stats %}
                            {{ stat.cpu_system }},
                        {% endfor %}
                        ]
                    }
                ]
            });
        });

    </script>


    <script type="text/javascript">

        var chart;
        $(document).ready(function () {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    defaultSeriesType: 'area'
                },
                title: {
                    text: 'Minnebruk'
                },

                xAxis: {
                    categories: [{% for stat in machine.get_latest_stats %}
                        '{{ stat.datetime|date:"H:i" }}',
                    {% endfor %}],
                    tickmarkPlacement: 'on',
                    title: {
                        enabled: false
                    }
                },
                yAxis: {
                    title: {
                        text: 'Percent'
                    }
                },

                plotOptions: {
                    area: {
                        stacking: 'percent',
                        lineColor: '#ffffff',
                        lineWidth: 1,
                        marker: {
                            lineWidth: 1,
                            lineColor: '#ffffff'
                        }
                    }
                },
                series: [
                    {
                        name: 'Free',
                        data: [{% for stat in machine.get_latest_stats %}
                            {{ stat.mem_free }},
                        {% endfor %}]
                    },
                    {
                        name: 'Used',
                        data: [{% for stat in machine.get_latest_stats %}
                            {{ stat.mem_used }},
                        {% endfor %}
                        ]
                    }
                ]
            });


        });

    </script>

{% endblock %}

{% block main %}



    <div class="row">

        <div class="col-md-12">


            <div class="panel">
                <div class="panel-body">
                    <ul class="col-md-12 stats">
                        <li class="stat col-md-2 col-sm-2 col-xs-2">
                            <span><b class="value">{{ machine.id }}</b> </span>
                            <em>ID</em>
                        </li>
                        <li class="stat col-md-4 col-sm-4 col-xs-4">
                            <span><b class="value">{{ machine.name }}</b> </span>
                            <em>Name</em>
                        </li>
                        <li class="stat col-md-4 col-sm-4 col-xs-4">
                            <span><b class="value">{{ machine.customer.name }}</b> </span>
                            <em>Customer</em>
                        </li>
                        <li class="stat col-md-2 col-sm-2 col-xs-2">
                            <span><b class="value">{{ machine.active }}</b> </span>
                            <em>Active</em>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="panel">
                <div class="panel-body">
                    <ul class="col-md-12 stats">

                        <li class="stat col-md-2 col-sm-2 col-xs-2">
                            <span><b class="value">{{ machine.last_connection_to_client|timesince }} ago</b> </span>
                            <em>Last seen</em>
                        </li>
                        <li class="stat col-md-3 col-sm-3 col-xs-3">
                            <span><b class="value">{{ machine.is_busy }}</b> </span>
                            <em>Is busy</em>
                        </li>
                        <li class="stat col-md-3 col-sm-3 col-xs-3">
                            <span><b class="value">{{ machine.external_ip }}</b> </span>
                            <em>IP</em>
                        </li>
                        <li class="stat col-md-3 col-sm-3 col-xs-3">
                            <span><b class="value">{{ machine.current_agent_version }}, {{ machine.current_updater_version }}</b> </span>
                            <em>Agent, Updater</em>
                        </li>

                    </ul>
                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">Log</h3>
                </div>
                <div class="panel-body">

                    <table class="table table-striped">
                        <tbody>
                        {% for log in machine.get_latest_logs %}
                            <tr>
                                <td>{{ log.datetime|date:"d.m.Y H:i" }}</td>
                                <td>{{ log.text|truncatechars:40 }}</td>
                                <td>
                                    <span class="label label-success">{{ log.type }}</span>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <a href="{% url 'machines.view_log' machine.id %}">see more</a>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">Backups</h3>
                </div>
                <div class="panel-body">

                    <table class="table table-striped">
                        <tbody>
                        {% for backup in machine.get_latest_backups %}
                            <tr>
                                <td>{{ backup.time_started|date:"d.m.Y H:i" }}</td>
                                <td>{{ backup.schedule.name|truncatechars:40 }}</td>

                                <td class="left">
                                    {% if backup.recover_link %}
                                        <a href="{{ backup.recover_link }}">Download backup</a>
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <a href="{% url 'machines.view_backups' machine.id %}">see more</a>
                </div>
            </div>
        </div>


    </div>

    <div class="row">


        <div class="col-md-12">
            <div class="panel ">
                <div class="panel-body">
                    <div id="container_cpu" style="width: 100%; height: 300px; margin: 0 auto"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel ">
                <div class="panel-body">

                    <div id="container" style="width: 100%; height: 300px; margin: 0 auto"></div>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel ">
                <div class="panel-body">
                    <div id="container_load" style="width: 100%; height: 300px; margin: 0 auto"></div>
                </div>
            </div>
        </div>


    </div>




{% endblock %}