{% extends "machine/base.html" %}

{% block main %}

    <h3>Schedules</h3>
    <a class="btn btn-success btn-medium"
       href="{% url 'focusbackup.app.backup.views.new' machine.id %}">New schedule</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Last runtime</th>
            <th>Next runtime</th>
            <th>Busy</th>
            <th>Time until text runtime</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for schedule in machine.schedules.all %}
            <tr>
                <td>
                    <a href="{% url 'focusbackup.app.backup.views.edit' machine.id schedule.id %}">{{ schedule.name }} </a>
                </td>
                <td>  {{ schedule.last_run_time|date:"d.m.Y H:i" }}
                    {% if not schedule.last_run_time %} Not runned yet {% endif %}</td>
                <td>
                    {{ schedule.get_next_run_time|date:"d.m.Y H:i" }}
                </td>

                <td>
                    {% if schedule.running_backup %}
                        <span class="label label-warning">Running backup</span>
                    {% else %}
                        <span class="label label-success">Stand by</span>
                    {% endif %}
                </td>

                <td>
                    {{ schedule.get_next_run_time|timeuntil }}
                </td>

                <td>
                    {% if schedule.is_delayed %}
                        <div class="title warning"><i class="fa fa-warning"></i> delayed</div>
                    {% else %}
                        <div class="title ok"><i class="fa fa-check"></i></div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}