{% extends "base.html" %}
{% load i18n %}
{% load menu_tags %}

{% block content %}

    <header class="jumbotron subhead" id="overview">

        <h1>{% trans "Servers" %}</h1>

        <div class="subnav">
            <ul class="nav nav-pills">
                <li class="{% active request "^/machines/$" %}"><a href="/machines/">List all servers</a></li>
                <li class="{% active request "^/machines/new/$" %}"><a href="/machines/new/">New server</a></li>
            </ul>
        </div>

    </header>

    {% block main %}{% endblock %}

    <footer></footer>

{% endblock %}