{% extends "machine/base.html" %}
{% load i18n %}

{% block main %}

    <section id="machines">

        {% for customer in customers %}

            <h4>{{ customer.name }}</h4>

            <table class="table-bordered table table-striped table-condensed">

                <tbody>

                {% for machine in customer.machines.all %}

                    <tr>
                        <td style="width:40%;"><a href="{% url view_machine machine.id  %}">{{ machine.name }}</a>
                        </td>
                        <td>{{ machine.last_connection_to_client }}</td>
                        <td>{{ machine.get_last_backup_time }}</td>
                        <td>{{ machine.current_agent_version }}</td>
                        <td>{{ machine.current_updater_version }}</td>
                        <td>

                            {% if machine.running_backup %}

                                <span class="label label-info">{% trans "running backup" %}</span>

                            {% else %} {% if machine.running_restore %}
                                <span class="label label-info">{% trans "running restore" %}</span>


                            {% else %}

                                <span class="label label-success">{% trans "OK" %}</span>

                            {% endif %}
                            {% endif %}

                        </td>
                    </tr>

                {% endfor %}

                </tbody>

            </table>

        {% endfor %}

    </section>

    <hr>

    <footer>
        <p></p>
    </footer>

{% endblock %}