{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="span12">

            <h2>{{ title }}</h2>

            {{ form.errors }}

            {% if form_folders.errors %}
                {{ form_folders.errors }}
            {% endif %}
            {% if form_sql.errors %}
                {{ form_sql.errors }}
            {% endif %}
            <form enctype="multipart/form-data" class="form-horizontal" method="post">

                {% csrf_token %}

                {% for field in form %}

                    <div class="control-group">
                        <label class="control-label" for="input01">{{ field.label }}</label>

                        <div class="controls">
                            {{ field }}
                        </div>

                    </div>

                {% endfor %}

                <h2>{% trans "Folders" %}</h2>

                {{ form_folders.management_form }}

                {% for element in form_folders %}

                    <div class="control-group">
                        <label class="control-label" for="input01">{% trans "Folder path" %}</label>

                        <div class="controls">

                            {% for field in element %}

                                {{ field }}

                            {% endfor %}

                        </div>

                    </div>

                {% endfor %}

                <h2>{% trans "Databases" %}</h2>

                {{ form_sql.management_form }}

                <div class="control-group">
                    <div class="controls">

                        <table>
                            <thead>
                            <tr>
                                <th>{% trans "Type" %}</th>
                                <th>{% trans "Host" %}</th>
                                <th>{% trans "Port" %}</th>
                                <th>{% trans "Database" %}</th>
                                <th>{% trans "Username" %}</th>
                                <th>{% trans "Password" %}</th>
                                <th>{% trans "Delete" %}</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for element in form_sql %}
                                <tr>
                                    {% for field in element %}

                                        <td>{{ field }}</td>

                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            <tr>

                            </tr>
                            </tbody>

                        </table>

                    </div>

                </div>


                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}