{% extends "base.html" %}
{% load i18n %}
{% load menu_tags %}

{% block content %}

    <header class="jumbotron subhead" id="overview">

        <div class="page-header">
            <h2>Customers</h2>
        </div>

        <div class="subnav">
            <ul class="nav nav-pills">
                <li class="{% active request "^/customers/$" %}"><a
                        href="{% url 'app.customer.views.overview' %}">{% trans "List all customers" %}</a></li>
                <li class="{% active request "^/customers/new/$" %}"><a
                        href="{% url 'app.customer.views.new' %}">{% trans "New customer" %}</a></li>
            </ul>
        </div>

    </header>

    {% block main %}
        <section id="machines">
            <table class="table-bordered table table-striped table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Contact person</th>
                    <th>Contact email</th>
                    <th>Contact phone</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for customer in customers.all %}
                    <tr>
                        <td><i class="icon-user"></i> <a
                                href="/customers/{{ customer.id }}/view/">{{ customer.name }}</a></td>
                        <td>{{ customer.address }}</td>
                        <td>{{ customer.contact_person }}</td>
                        <td>{{ customer.contact_phone }}</td>
                        <td>{{ customer.contact_email }}</td>
                        <td><a href="/customers/{{ customer.id }}/edit/"><i class="icon-pencil"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    {% endblock %}

    <footer></footer>

{% endblock %}