{% extends "base.html" %}
{% load i18n %}
{% load menu_tags %}

{% block content %}

    {% block main %}

        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header" data-original-title>
                        <h2><i class="icon-user"></i><span class="break"></span>{{ title }}</h2>
                    </div>
                    <div class="box-content">
                        <table class="table ">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Contact person</th>
                                <th>Contact email</th>
                                <th>Contact phone</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for customer in customers.all %}
                                <tr>
                                    <td><i class="icon-user"></i> <a
                                            href="{% url 'focusbackup.app.customer.views.view' customer.id %}">{{ customer.name }}</a>
                                    </td>
                                    <td>{{ customer.address }}</td>
                                    <td>{{ customer.contact_person }}</td>
                                    <td>{{ customer.contact_phone }}</td>
                                    <td>{{ customer.contact_email }}</td>
                                    <td class="center">
                                        <a class="btn btn-success" href="{% url 'focusbackup.app.customer.views.view' customer.id %}">
                                            <i class="icon-zoom-in "></i>
                                        </a>
                                        <a class="btn btn-info" href="{% url 'focusbackup.app.customer.views.edit' customer.id %}">
                                            <i class="icon-edit "></i>
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon-trash "></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    {% endblock %}


{% endblock %}