{% extends "customer/base.html" %}
{% load i18n %}

{% block main %}

    <section id="responsive">
        <div class="page-header">
            <h3>{{ customer.name }}</h3>
        </div>
        <!-- Supported devices -->
        <div class="row">
            <div class="span4">

            </div>
            <!-- /.span -->
            <div class="span12">
                <h4>{% trans "Machines" %}</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <td></td>
                        <td>Last online</td>
                        <td>Status</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>

                    {% for machine in customer.machines.all %}

                        <tr>
                            <td><img src="/static/img/glyphicons/png/glyphicons_086_display.png" width="14px">
                                <a href="{% url 'view_machine' machine.id %}">{{ machine.name }}</a></td>

                            <td><i class="icon-time"></i> {{ machine.last_connection_to_client|timesince }} ago</td>

                            <td>
                                {% if machine.running_backup %}
                                    <i class="icon-adjust"></i> {% trans "running backup" %}
                                {% elif not machine.is_up_to_date %}
                                    <i class="icon-remove"></i> {% trans "Outdated" %}
                                {% else %}
                                    <i class="icon-ok"></i>
                                {% endif %}
                            </td>
                            <td><a href="/machines/{{ machine.id }}/edit/"><i class="icon-pencil"></i></a></td>

                        </tr>

                    {% endfor %}


                    </tbody>
                </table>


            </div>
        </div>


    </section>

{% endblock %}