{% extends "base.html" %}
{% load i18n %}
{% load menu_tags %}

{% block content %}

    <header class="jumbotron subhead" id="overview">
        <h1>Customers</h1>

        <div class="subnav">
            <ul class="nav nav-pills">
                <ul class="nav nav-pills">
                    <li class="{% active request "^/customers/$" %}"><a
                            href="{% url app.customer.views.overview %}">{% trans "List all customers" %}</a></li>
                    <li class="{% active request "^/customers/new/$" %}"><a
                            href="{% url app.customer.views.new %}">{% trans "New customer" %}</a></li>
                </ul>
            </ul>
        </div>

    </header>

    {% block main %}
        <section id="machines">
            <table class="table-bordered table table-striped table-condensed">
                {% for customer in customers.all %}
                    <tr>
                        <td><a href="/customers/{{ customer.id }}/view/">{{ customer.name }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </section>
    {% endblock %}

    <footer></footer>

{% endblock %}