{% extends "base.html" %}

{% block content %}

    <script>


        $(function() {

            function createTable(value, id) {
                return "<table class='data' id='" + id + "'>" + value + "</table>"
            }

            function createThead(value) {
                return "<thead>" + value + "</thead>"
            }

            function createTbody(value) {
                return "<tbody>" + value + "</tbody>"
            }

            function createTr(value) {
                return "<tr>" + value + "</tr>"
            }

            function createLine(value, line) {
                return "<" + line + " style='width:110px;'>" + value + "</" + line + ">"
            }

            function createLines(values, line) {
                var string = "";

                for (index in values) {
                    string += createLine(values[index], line)
                }
                return string
            }

            function build_backup_table(data, limit, id) {
                var thead = createThead(createTr(createLines(["Dato","Schedule","#"], "th")));
                var tbody_content = ""

                var current = 0;

                $.each(data, function(key, backup) {
                    if (current < limit) {
                        current += 1;

                        var restore_if_restorable = "";
                        if (backup['is_recoverable']) {
                            restore_if_restorable = "Restore this";
                        }

                        tbody_content += createTr(createLines([backup['time_started'],backup['schedule']['name'],restore_if_restorable], "td"))
                    }
                });

                var tbody = createTbody(tbody_content)
                return createTable(thead + tbody, id)
            }

            function build_log_table(data, limit, id) {
                var thead = createThead(createTr(createLines(["Dato","Tekst"], "th")));
                var tbody_content = "";
                var current = 0;

                $.each(data, function(key, log) {
                    if (current < limit) {
                        current += 1;
                        tbody_content += createTr(createLines([log['datetime'], "[" + log['type'].toUpperCase() + "]" + " " + log['text']], "td"))
                    }
                });

                var tbody = createTbody(tbody_content)
                return createTable(thead + tbody, id)

            }

            $.getJSON('/api/machines/{{ machine_id }}', function(data) {
                var items = [];

                if (data['running_backup']) {
                    $("#status_div").append("<img src='/static/images/spinner.gif'> perforimg backup<br><br>");
                }

                else if (data['running_backup']) {
                    $("#status_div").append("<img src='/static/images/spinner.gif'> perforimg restore<br><br>");
                }

                else {
                    $("#status_div").append("<img src='/static/images/ok.gif'> alt ok<br><br>");
                }

                data['backups'].reverse();
                data['logs'].reverse();

                $("#tables_overview").append("<h2>Detaljer</h2>");
                var thead = createThead(createTr(createLines(["Machine ID","Name","IP"], "th")));
                var tbody = createTbody(createTr(createLines([data['machine_id'],data['name'], data['ip']], "td")))

                $("#tables_overview").append(createTable(thead + tbody));

                var thead = createThead(createTr(createLines(["Tidspunkt neste backup","Tidspunkt sist backup", "Tidspunkt sist kontakt med klient"], "th")));
                var tbody = createTbody(createTr(createLines([data['get_next_backup_time'],data['get_last_backup_time'], data['last_connection_to_client']], "td")))

                $("#tables_overview").append(createTable(thead + tbody));

                $("#tables_overview").append("<h2>Backups</h2>");
                $("#tables_overview").append("Vis siste <select id='backup_select_limit'><option value='5'>5</option><option value='10'>10</option><option value='100'>100</option><option value='500'>500</option><option value='1000'>1000</option><option value='10000'>10000</option><option value='100000'>100000</option></select>");
                $("#tables_overview").append("<div id='backup_table_div'>" + build_backup_table(data['backups'], 5, "backup_table") + "</div>");
                $("#backup_select_limit").live('change', function(e) {
                    $("#backup_table_div").html("<div id='backup_table_div'>" + build_backup_table(data['backups'], $(this).val(), "backup_table") + "</div>")
                })

                
                $("#tables_overview").append("<h2>Log</h2>");
                $("#tables_overview").append("Vis siste <select id='log_select_limit'><option value='5'>5</option><option value='10'>10</option><option value='100'>100</option><option value='500'>500</option><option value='1000'>1000</option><option value='10000'>10000</option><option value='100000'>100000</option></select>");
                $("#tables_overview").append("<div id='log_table_div'>" + build_log_table(data['logs'], 5, "log_table") + "</div>");
                $("#log_select_limit").live('change', function(e) {
                    $("#log_table_div").html("<div id='log_table_div'>" + build_log_table(data['logs'], $(this).val(), "log_table") + "</div>")
                })

            });
        })

    </script>

    <style>
        #status_div {
            float: right;
            height: 50px;
            margin-right: 50px;
        }

        #status_div img {
            vertical-align: middle;
        }

    </style>

    <div id="status_div"></div>

    <div class="x12">
        <div id="tables_overview">
        </div>
    </div>

{% endblock %}