
<div class="login-wrap">
    <span class="brand">
        <i class="fa fa-html5"></i> Ark Admin
    </span>
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Reset Password</h3>
        </div>
        <div class="panel-body">
            <form action="index.html">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br/>
                <br/>

                <a href="login.html">Back to Sign In!</a>
            </form>
        </div>
    </div>
</div>