---
   calendarMenu: true
---
<ol class="breadcrumb">
    <li><a href="index.html"><i class="fa fa-home fa-fw"></i> Home</a></li>
    <li class="active">Calendar</li>
</ol>

<div class="header">
    <div class="col-md-12">
        <h3 class="header-title">Calendar</h3>
        <p class="header-info">Easily organize your schedule</p>
    </div>
</div>

<!-- CONTENT -->
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div id="calendar"></div>
        </div>
    </div>
</div>
<!-- END: CONTENT -->