---
   chartsMenu: true
---
<ol class="breadcrumb">
    <li><a href="index.html"><i class="fa fa-home fa-fw"></i> Home</a></li>
    <li class="active">Charts</li>
</ol>

<div class="header">
    <div class="col-md-12">
        <h3 class="header-title">Charts</h3>
        <p class="header-info">Make your reports stand out and engage your users</p>
    </div>
</div>

<!-- CONTENT -->
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel ">
                <div class="panel-heading">
                    <div class="panel-actions">
                        <div id="reportrange" class="pull-right">
                            <i class="fa fa-calendar"></i>
                            <span>This month</span> <b class="caret"></b>
                        </div>
                    </div>
                    <h3 class="panel-title">Conversions</h3>
                </div>
                <div class="panel-body">
                    <div id="dashboardConversions" class="chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">Revenue</h3>
                </div>
                <div class="panel-body">
                    <div id="dashboardRevenues" class="chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">Pie Chart</h3>
                </div>
                <div class="panel-body">
                    <div id="chartPie" class="chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT -->