---
    errorPagesMenu: true
    error500Menu: true
---
<ol class="breadcrumb">
    <li><a href="index.html"><i class="fa fa-home fa-fw"></i> Home</a></li>
    <li class="active">Internal Server Error</li>
</ol>

<!-- CONTENT -->
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel error-panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cogs"></i> Something Went Wrong</h3>
                </div>
                <div class="panel-body">
                    <p>Something went wrong in your process and we are working on fixing it.</p>
                    <p>Please give us more details about how the problem occurred and <br/>
                        go to the <a href="#">Help Center</a> for more details about known issues.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: CONTENT -->