---
   galleryMenu: true
---
<ol class="breadcrumb">
    <li><a href="index.html"><i class="fa fa-home fa-fw"></i> Home</a></li>
    <li class="active">Gallery</li>
</ol>

<div class="header">
    <div class="col-md-12">
        <h3 class="header-title">Gallery</h3>
        <p class="header-info">Captivating image gallery with editing tools</p>
    </div>
</div>

<!-- CONTENT -->
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <ul class="gallery">
                <li class="item fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview fileinput-exists"></div>
                    <div class="details">
                        <div class="action btn-file">
                            <span class="fileinput-new action-file">
                                <i class="fa fa-cloud-upload"></i>
                            </span>
                            <p class="fileinput-new">Click here or drag and drop to add images</p>
                            <i class="fa fa-pencil-square-o fileinput-exists"></i>
                            <input type="file" name="file"/>
                        </div>
                        <a href="#" class="action fileinput-exists" data-dismiss="fileinput"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/1H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/6H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/7H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/13H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/14H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/17H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/18H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/20H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/21H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/28H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/31H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/35H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/37H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/41H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/44HH.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/49H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/51H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/52H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/53H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/54H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/56H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
                <li class="item">
                    <img alt="150x150" src="img/gallery/58H.jpg" />
                    <div class="details">
                        <a href="#" class="action"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="action"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: CONTENT -->