---
   gridMenu: true
   lookAndFeelMenu: true
---
<ol class="breadcrumb">
    <li><a href="index.html"><i class="fa fa-home fa-fw"></i> Home</a></li>
    <li><a href="#">Look &amp; Feel</a></li>
    <li class="active">Grid</li>
</ol>

<div class="header">
    <div class="col-md-12">
        <h3 class="header-title">Grid</h3>
        <p class="header-info">Easily build your page for any screen</p>
    </div>
</div>

<!-- CONTENT -->
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <p class="lead">The ArkAdmin Theme uses the latest Bootstrap grid system which makes your application look good on any screen resolution.</p>

            <h3>Responsive Grid</h3>
            <p>Using the <code class="prettyprint">.col-md-*</code> classes for normal screens and <code class="prettyprint">.col-xs-*</code> for small screens.</p>
            <div class="row show-grid">
                <div class="col-md-12 col-xs-12">.col-md-12.col-xs-12</div>

                <div class="col-md-10 col-xs-8">.col-md-10.col-xs-8</div>
                <div class="col-md-2 col-xs-4">.col-md-2.col-xs-4</div>

                <div class="col-md-8 col-xs-6">.col-md-8.col-xs-6</div>
                <div class="col-md-4 col-xs-6">.col-md-4.col-xs-6</div>

                <div class="col-md-6 col-xs-6">.col-md-6.col-xs-6</div>
                <div class="col-md-6 col-xs-6">.col-md-6.col-xs-6</div>

                <div class="col-md-4 col-xs-12">.col-md-4.col-xs-12</div>
                <div class="col-md-4 col-xs-6">.col-md-4.col-xs-6</div>
                <div class="col-md-4 col-xs-6">.col-md-4.col-xs-6</div>

                <div class="col-md-3 col-xs-6">.col-md-3.col-xs-6</div>
                <div class="col-md-3 col-xs-6">.col-md-3.col-xs-6</div>
                <div class="col-md-3 col-xs-6">.col-md-3.col-xs-6</div>
                <div class="col-md-3 col-xs-6">.col-md-3.col-xs-6</div>

                <div class="col-md-2 col-xs-3">.col-md-2.col-xs-3</div>
                <div class="col-md-2 col-xs-3">.col-md-2.col-xs-3</div>
                <div class="col-md-2 col-xs-3">.col-md-2.col-xs-3</div>
                <div class="col-md-2 col-xs-3">.col-md-2.col-xs-3</div>
                <div class="col-md-2 col-xs-6">.col-md-2.col-xs-6</div>
                <div class="col-md-2 col-xs-6">.col-md-2.col-xs-6</div>

            </div>

            <h3>Offsetting columns</h3>
            <p>Move columns to the right using <code class="prettyprint">.col-md-offset-*</code> classes.
                These classes increase the left margin of a column by * columns.
                For example, <code class="prettyprint">.col-md-offset-4</code> moves <code class="prettyprint">.col-md-4</code> over four columns.</p>

            <div class="row show-grid">
                <div class="col-md-4">.col-md-4</div>
                <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
            </div>
            <div class="row show-grid">
                <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
                <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
            </div>
            <div class="row show-grid">
                <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
            </div>

            <h3>Change Order</h3>
            <p>Easily change the order of our built-in grid columns with <code class="prettyprint">.col-md-push-*</code> and <code class="prettyprint">.col-md-pull-*</code> modifier classes.</p>
            <div class="row show-grid">
                <div class="col-md-9 col-md-push-3">.col-md-9 .col-md-push-3</div>
                <div class="col-md-3 col-md-pull-9">.col-md-3 .col-md-pull-9</div>
            </div>


        </div>
    </div>
</div>
<!-- END: CONTENT -->