---
   elementsMenu: true
   uiComponentsMenu: true
---
<ol class="breadcrumb">
    <li><a href="index.html"><i class="fa fa-home fa-fw"></i> Home</a></li>
    <li>UI Elements</li>
    <li class="active">Components</li>
</ol>

<div class="header">
    <div class="col-md-12">
        <h3 class="header-title">UI Elements &raquo; Components</h3>
        <p class="header-info">Common UI elements designed specifically for ArkAdmin</p>
    </div>
</div>

<!-- CONTENT -->
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h3>Dropdowns</h3>
                    <div class="ark-example">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown">
                                Dropdown
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation" class="dropdown-header">Dropdown header</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                <li role="presentation" class="active"><a role="menuitem" tabindex="-1" href="#">Another
                                    action</a></li>
                                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled
                                    Action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" class="dropdown-header">Dropdown header</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Modals</h3>

                    <!-- Button trigger modal -->
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Launch demo modal
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                </div>
                                <div class="modal-body">
                                    Donec iaculis a nibh in egestas. Praesent interdum ipsum id tellus ullamcorper tristique.
                                    Nam auctor diam massa. Ut diam dui, pretium ac purus vitae, egestas sollicitudin velit.
                                    Quisque faucibus metus mattis nunc placerat, in malesuada erat pellentesque.
                                    Phasellus molestie elit id egestas aliquam. Donec tincidunt nunc ac congue mattis.
                                    Donec non odio nec justo varius ullamcorper.

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <h3>Tooltips</h3>
                    <p class="muted">Tight pants next level keffiyeh
                        <a href="#" data-toggle="tooltip" title="" data-original-title="Default tooltip">you probably</a>
                        haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown.
                        Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel
                        <a href="#" data-toggle="tooltip" title="" data-original-title="Another tooltip">have a</a>
                        terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats.
                        Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray.
                        A really ironic artisan <a href="#" data-toggle="tooltip" title="" data-original-title="Another one here too">whatever keytar</a>,
                        scenester farm-to-table banksy Austin <a href="#" data-toggle="tooltip" title="" data-original-title="The last tip!">twitter handle</a>
                        freegan cred raw denim single-origin coffee viral.
                    </p>
                </div>
            </div>

            <h3>Popovers</h3>

            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover"
                            data-placement="auto top"
                            data-trigger="hover"
                            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            data-original-title="" title="">
                        Popover on hover
                    </button>
                    <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover"
                            data-placement="auto left"
                            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            data-original-title="" title="">
                        Popover on left
                    </button>
                    <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover"
                            data-placement="autotop"
                            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            data-original-title="" title="">
                        Popover on top
                    </button>
                    <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover"
                            data-placement="auto bottom"
                            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            data-original-title="" title="">
                        Popover on bottom
                    </button>
                    <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover"
                            data-placement="auto right"
                            data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            data-original-title="" title="">
                        Popover on right
                    </button>
                </div>
            </div>

            <h3>Navigation</h3>

            <div class="row">
                <div class="col-md-6">
                    <h4>Tabs</h4>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                    </ul>
                    <p></p>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                        <li><a href="#profile" data-toggle="tab">Profile</a></li>
                        <li><a href="#messages" data-toggle="tab">Messages</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Dropdown <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#settings" data-toggle="tab">Action</a></li>
                                <li role="presentation" class="dropdown-header">Dropdown header</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#settings2" data-toggle="tab">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            Donec iaculis a nibh in egestas. Praesent interdum ipsum id tellus ullamcorper tristique.
                            Nam auctor diam massa. Ut diam dui, pretium ac purus vitae, egestas sollicitudin velit.
                            Quisque faucibus metus mattis nunc placerat, in malesuada erat pellentesque.
                            Phasellus molestie elit id egestas aliquam. Donec tincidunt nunc ac congue mattis.
                            Donec non odio nec justo varius ullamcorper.
                        </div>
                        <div class="tab-pane" id="profile">
                            Vivamus leo dolor, mattis sit amet nisi sed, dictum semper urna.
                            Vivamus ultricies velit ut lacus aliquam, sed scelerisque orci placerat.
                            Duis eget ultrices nulla. Maecenas diam est, aliquet non dictum et, tempor et sem.
                            Fusce tristique varius nisl at venenatis. Suspendisse id sapien non nisl eleifend lacinia quis nec mauris.
                            Fusce eget mauris eu tellus cursus imperdiet quis et metus. Proin non commodo velit.
                            In eget justo vestibulum, scelerisque justo sit amet, iaculis tortor. Suspendisse ut orci mi.
                            Suspendisse suscipit pharetra orci nec dapibus. Integer laoreet libero ut sem ullamcorper tincidunt.
                            Vestibulum quis tincidunt odio. Phasellus tortor nulla, fringilla non turpis pharetra, mollis scelerisque justo.
                            Donec fermentum mauris mauris, ut adipiscing urna ornare eget.
                        </div>
                        <div class="tab-pane" id="messages">
                            Curabitur varius pulvinar massa, eget ultricies urna ultricies sed.
                            Vestibulum consequat dictum dui quis gravida. Sed porta sem nec orci aliquam, ac fermentum eros malesuada.
                            Etiam tristique sagittis odio vitae semper. Nulla auctor magna nisl, eget fringilla nunc scelerisque et.
                            Vivamus dictum dui diam, vitae pretium dolor facilisis ornare. Maecenas cursus nisl pretium auctor elementum.
                        </div>
                        <div class="tab-pane" id="settings">
                            Morbi gravida condimentum nunc. Duis suscipit suscipit magna eget mattis.
                            Integer rhoncus neque quis eros dictum, sit amet posuere eros pellentesque.
                            Aliquam erat volutpat. Vivamus ut gravida arcu. Proin sed felis interdum, rutrum libero eu, bibendum dui.
                            Curabitur sed nisl at dui rutrum gravida malesuada quis quam. Phasellus semper ipsum sit amet lorem porta, sit amet varius nisi auctor.
                        </div>
                        <div class="tab-pane" id="settings2">
                            In velit dui, feugiat quis tortor ac, euismod facilisis tellus.
                            Maecenas sed mi gravida, suscipit lacus quis, pulvinar diam.
                            Mauris venenatis justo ac pretium commodo. Nam ac malesuada felis.
                            Curabitur lorem quam, commodo sit amet viverra varius, ornare id magna.
                            Sed elementum consectetur quam eget faucibus. Ut rhoncus risus elit, nec congue nibh blandit nec.
                            Quisque semper adipiscing eros, ut accumsan ante. Morbi a mauris ac lectus viverra viverra.
                            Etiam interdum lorem sit amet turpis gravida pellentesque.
                            In orci ipsum, ultricies sit amet pretium vel, commodo nec sapien.
                            Maecenas malesuada laoreet urna quis aliquam.
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <h4>Pills</h4>
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                    </ul>

                    <p></p>
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Dropdown <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                <li role="presentation" class="dropdown-header">Dropdown header</li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>

                    <p></p>

                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3>Jumbatron</h3>
                    <div class="jumbotron">
                        <h1>Hello, world!</h1>
                        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                            featured content or information.</p>
                        <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Alerts</h3>
                    <div class="ark-example">
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-check-circle"></i>
                            <strong>Well done!</strong> You successfully read this important alert message.
                        </div>
                        <div class="alert alert-info">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-exclamation-circle"></i>
                            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                        </div>
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-exclamation-triangle"></i>
                            <strong>Warning!</strong> Best check yo self, you're not looking too good.
                        </div>
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-times-circle"></i>
                            <strong>Oh snap!</strong> Change a few things up and try submitting again.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3>Progress Bars</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                            <span class="sr-only">20% Complete</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete</span>
                        </div>
                    </div>

                    <div class="progress progress-striped">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                            <span class="sr-only">20% Complete</span>
                        </div>
                    </div>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete</span>
                        </div>
                    </div>
                    <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            <span class="sr-only">60% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>List Group</h3>
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">List group item heading</h4>
                            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </a>
                        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item">Morbi leo risus</a>
                        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    </div>
                </div>
            </div>

            <h3>Panels</h3>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Panel title</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                        <div class="panel-footer">Panel footer</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3>Wells</h3>

                    <div class="well well-sm">
                        Quisque faucibus metus mattis nunc placerat, in malesuada erat pellentesque.
                    </div>
                    <div class="well">
                        <h3>Praesent interdum</h3>
                        Donec iaculis a nibh in egestas. Praesent interdum ipsum id tellus ullamcorper tristique.
                    </div>
                    <div class="well well-lg">
                        <h3>Egestas sollicitudin</h3>
                        Nam auctor diam massa. Ut diam dui, pretium ac purus vitae, egestas sollicitudin velit.
                    </div>
                </div>

                <div class="col-md-6">
                    <h3>Collapsible</h3>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-primary">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                                <h4 class="panel-title">
                                    Collapsible Group Item #1
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                                <h4 class="panel-title">
                                    Collapsible Group Item #2
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                                <h4 class="panel-title">
                                    Collapsible Group Item #3
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END: CONTENT -->